@use "./abstarcts/mixins";
@use "./abstarcts/veriable";
@use "./base/reset";
@use "./components/footer";
@use "./components/nav";
@use "./pages/about";
@use "./pages/contact";
@use "./pages/home";
@use "./pages/projects";
@use "./components/responsive";

@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css";

body {
  background-color: veriable.$secondaryColor;
  font-family: veriable.$fontFamily;
  color: veriable.$textColor;
}
a {
  color: veriable.$textColor;
  text-decoration: none;
}

//  sass --watch ./scss/main.scss:./css/main.css
