@use ".././abstarcts/veriable";


@mixin hovers($hoverTime) {
  transition: all $hoverTime;
}
@mixin bgImages($heightImg, $bgImage) {
  height: $heightImg;
  width: 100%;
  background: linear-gradient(
      to right,
      rgba(veriable.$secondaryColor, 0.9),
      rgba(veriable.$secondaryColor, 0.3)
    ),
    url($bgImage);
  background-position: center;
  background-size: cover;
}

@mixin media-xsm {
  @media screen and (min-width: 0px) {
    @content;
  }
}

@mixin media-sm {
  @media screen and (min-width: 576px) {
    @content;
  }
}

@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}
