//? KULLANILACAK RENKLER

$primaryColor: #ff7b00;
$secondaryColor: #272727;
$textColor: white;

//? FONT FAMİLY

$fontFamily: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

//? IMAGES
$image1: "../img/model-1.jpg";
$image2: "../img/project-1.jpg";
$image3: "../img/project-2.jpg";
$image4: "../img/project-3.jpg";
$image5: "../img/project-4.jpg";
$image6: "../img/project-5.jpg";
$image7: "../img/project-6.jpg";
