@use ".././abstarcts/veriable";
@use ".././abstarcts/mixins";

.listStyle {
  a {
    padding: 0.4rem;
    @include mixins.hovers(1s);
    &:hover {
      color: veriable.$primaryColor;
    }
  }
}

.horizontal {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 1rem;
  @extend .listStyle;
}

.vertical {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
  @extend .listStyle;
  .social-icons {
    position: fixed;
    bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .copyright {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    writing-mode: vertical-lr;
  }
}

.middle {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  .social-icons {
    @extend .listStyle;
  }
}
